aws_region          = "{{ aws_region | default('us-east-1') }}"
bot_name            = "{{ bot_name | default('poc_account_limit') }}"
lambda_function_arn = "{{ lambda_function_arn | default('arn:aws:lambda:us-east-1:022499044898:function:lambda-agendamento-console') }}"
description_bot     = "{{ description_bot | default('Descrição para o Bot') }}"
role_lex_arn        = "{{ role_lex_arn | default('arn:aws:iam::022499044898:role/aws-service-role/lexv2.amazonaws.com/AWSServiceRoleForLexV2Bots_1N6Z83KJ0RB') }}"
bot_alias_name      = "{{ bot_alias_name | default('HML') }}"
